@import url(https://fonts.googleapis.com/css?family=Lato);

@media screen and  (max-width: 639px) {
	.row .column {
		max-width: 100% !important; /* hack */
	}
}

a {
	cursor: pointer;
}

a:not(.button):hover {
	color: #af5fdf;
	text-decoration: underline;
}

.button:hover, 
button:hover, 
input[type='button']:hover, 
input[type='reset']:hover, 
input[type='submit']:hover {
	background-color: #af5fdf;
	border-color: #af5fdf;
}

body {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family:
	Lato,
	"游ゴシック Medium",
	"游ゴシック体",
	"Yu Gothic Medium",
	YuGothic,
	"ヒラギノ角ゴ ProN",
	"Hiragino Kaku Gothic ProN",
	"メイリオ",
	Meiryo,
	"ＭＳ Ｐゴシック",
	"MS PGothic",
	sans-serif;
}

header {
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	background-color: #333333;
}

main {
	margin-top: 40px;
}

footer {
	color: gray;
	background-color: #efefef;
}

footer {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	background-color: white;
	border-top: 1px solid #e1e1e1;
}

header h1 + p {
	margin-top: -20px;
}

header a {
	color: white;
}

header a:hover {
	color: white !important;
}

#tool-bar {
	color: gray;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #efefef;
}

#tool-bar .tool {
	margin: 0 5px;
}

#paper-body .paper-meta {
	margin-bottom: 30px;
}

#paper-body .paper-meta + br {
	margin-top: -30px;
}

#paper-body .last-modified:before {
	content: "Last modified: ";
}

#paper-body .anchor_super, #paper-body .jumpmenu {
	display: none;
}

#paper-body .style_table thead td,
#paper-body .style_table thead th {
	font-weight: bold;
}

#paper-body .img_margin img {
	max-width: 100%;
	height: auto;
}

#paper-body pre {
	padding: 10px 15px;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	line-height: 1;
}

#paper-body ul, #menu-bar ul {
	margin-left: 16px;
}

#paper-body li, #menu-bar li {
	list-style-position: outside;
	margin-bottom: 0;
}

#paper-body .word0,
#paper-body .word1,
#paper-body .word2,
#paper-body .word3,
#paper-body .word4,
#paper-body .word5,
#paper-body .word6,
#paper-body .word7,
#paper-body .word8,
#paper-body .word9,
#paper-body .word10 {
	background-color: yellow;
}

#paper-body .diff_added {
	color: LightSeaGreen;
}

#paper-body .diff_removed {
	color: Crimson;
}

#paper-body #preview {
	margin-bottom: 20px;
	border-bottom: 1px solid #f4f5f6;
}

#paper-body > form,
#paper-body .edit_form,
#paper-body .edit_form + ul {
	max-width: 600px;
	margin-right: auto;
}

#paper-body .edit_form + ul {
	padding-left: 20px;
}

#paper-body .edit_form form > div {
	float: none !important;
}

#paper-body form label {
	font-weight: normal !important;
}

#paper-body > form input:not([type=radio]):not([type=checkbox]),
#paper-body > form select,
#paper-body .edit_form input:not([type=radio]):not([type=checkbox]),
#paper-body .edit_form select {
	width: 100%;
}

#paper-body > form textarea[name=msg],
#paper-body .edit_form textarea[name=msg] {
	height: 400px;
}

#paper-body > form input[type=radio] + label,
#paper-body > form input[type=checkbox] + label,
#paper-body .edit_form input[type=radio] + label,
#paper-body .edit_form input[type=checkbox] + label {
	display: inline;
}

#paper-body .loginform table,
#paper-body .loginform tbody,
#paper-body .loginform tr,
#paper-body .loginform td,
#paper-body .loginform label {
	display: block;
	padding: 0 !important;
	width: 100%;
	text-align: left;
}

#paper-body .loginform table {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#paper-body .loginform td {
	border: none;
}

#paper-body .loginform input {
	width: 100%;
}

#paper-body select[name=begin],
#paper-body select[name=end] {
	height: 200px;
	padding-right: 0;
	background: none;
}

#paper-note .note_hr {
	display: none;
}

#paper-note .note, #paper-note .attach {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #f4f5f6;
}
